## Save 'em   🦤  🌱

1. Objetivos:</p>
Para fijar los objetivos se tiene en consideración la información que contiene el dataset, su origen, sus necesidades y el problema que intuyen.
El objetivo finalmente será conocer **si existen patrones entre las especies en peligro en los parques**

### Datasets

In [1]:
import pandas as pd
import numpy as np

In [2]:
obs = pd.read_csv('data/observations.csv')   #Número de veces que se les ha visto
species = pd.read_csv('data/species_info.csv')   #Tipo de especie y el estado de su conservación

In [3]:
obs.head()

            scientific_name                            park_name  observations
0        Vicia benghalensis  Great Smoky Mountains National Park            68
1            Neovison vison  Great Smoky Mountains National Park            77
2         Prunus subcordata               Yosemite National Park           138
3      Abutilon theophrasti                  Bryce National Park            84
4  Githopsis specularioides  Great Smoky Mountains National Park            85

In [4]:
species.head()

,category,scientific_name,common_names,conservation_status
0,Mammal,Clethrionomys gapperi gapperi,Gapper's Red-Backed Vole,NaN
1,Mammal,Bos bison,"American Bison, Bison",NaN
2,Mammal,Bos taurus,"Aurochs, Aurochs, Domestic Cattle (Feral), Dom...",NaN
3,Mammal,Ovis aries,"Domestic Sheep, Mouflon, Red Sheep, Sheep (Feral)",NaN
4,Mammal,Cervus elaphus,Wapiti Or Elk,NaN

## Exploración de los datos </p>
Como primera acción de exploración se va a estudiar:
+ Cuál es la distribución en conservation_status
+ Si hay ciertos tipos de especies más amenazadas
+ Si hay diferencias entre especies y su estatus
+ Qué especies se han visto más en cada parque

In [5]:
import matplotlib as mp
import seaborn as sn